h1,
p,
input {
  font-family: "Montserrat", serif;
}

#speechContainer {
  margin: 20px;
}

#submitButton {
  background-color: #6667ab;
  color: white;
  border-radius: 5px;
  border: none;
  padding: 10px 30px;
  margin-top: 20px;
}

#submitButton:hover {
  cursor: pointer;
}

#speechTranscriptContainer {
  margin-top: 20px;
}

#speechText {
  font-size: 20px;
  width: 700px;
}
